---
---

@import "{{ site.theme }}";

img {
  max-width: 100%;
}

header {
  background: url('../window_icon.png') top center no-repeat;
  padding-top: 275px;
  text-align: center;
  position: relative;
}
header ul {
  width: auto;
}
header li {
  display: none;
}
header li:last-of-type {
  display: block;
  float: none;
  width: auto;
}

p.view {
  display: none; 
}

a, a:hover, a:focus {
  color: #ff0000;
}
a:hover, a:focus {
  font-weight: normal;
  text-decoration: underline;
}
header ul a:hover, header ul a:focus {
  font-weight: bold;
  text-decoration: none;
}

footer {
  float: none;
  position: relative;
  bottom: auto;
  text-align: center;
}


@media print, screen and (max-width: 960px) {
  header {
    padding-right: 0;
  }
  header ul {
    position: relative;
    right: auto;
    top: auto;
  }
}
